<%- include('includes/head') %>

<div class="jumbotron">
    <div class="container">
        <h1> Welcome</h1>
        <p class="lead"> Phasellus erat sem, ultrices luctus ex vel, aliquam dictum ex. Sed mattis, sapien eget vulputate laoreet, orci sapien tincidunt metus, sit amet lacinia nibh libero eget lectus. Phasellus suscipit, odio vel iaculis hendrerit, ipsum ligula convallis augue, quis euismod nisi elit varius augue. Nulla fringilla sollicitudin eros, a varius nibh accumsan eget.</p>
    </div>
</div>

<p> 
Phasellus erat sem, ultrices luctus ex vel, aliquam dictum ex. Sed mattis, sapien eget vulputate laoreet, orci sapien tincidunt metus, sit amet lacinia nibh libero eget lectus. Phasellus suscipit, odio vel iaculis hendrerit, ipsum ligula convallis augue, quis euismod nisi elit varius augue. Nulla fringilla sollicitudin eros, a varius nibh accumsan eget. Vestibulum maximus, erat in elementum blandit, sapien enim finibus nisi, vitae iaculis enim arcu non neque. Vivamus luctus, sapien eget sollicitudin fringilla, velit orci lacinia mauris, sed porta lacus metus ut diam. Aliquam sollicitudin sem tincidunt nulla ornare, id ullamcorper diam sodales. Mauris vehicula varius orci, non imperdiet ante lobortis nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec sollicitudin justo. Quisque auctor et tortor vel convallis. Nulla vel libero lectus. Ut tincidunt odio et neque gravida, at malesuada quam tincidunt. Sed maximus purus libero, eu blandit tortor tincidunt eu.
 </p>

<%- include('includes/footer') %>
